{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

<div class = "current-user"><p class="lead text-muted"><em>{{test}}</em></p></div>

{% if "user_id" in session %}
<div class="main-feed">
    <div class="status-box">
        <form class="form-group" action="/" method="post">

            <textarea class="form-control" id="userstatus" name="userstatus" maxlength="150" rows="3" placeholder="What's up?"></textarea>

            <div class="status-actions btn-block d-flex flex-row-reverse align-items-center">
                <button type="submit" class="btn btn-primary" id="btn-submit"><strong>Awit!</strong></button>
                <div class="status-buttons">
                    <button><img src="/static/emoji.svg"></button>
                </div>
                <div class="status-buttons"> 
                    <button><img src="/static/photo.svg"></button>
                </div>
            </div>

        </form> 
    </div>
    <div class="user-post">
        <div class="post-header">
            <div class="post-user mb-0">@gianbenta</div>
            <div class="post-date mb-1 text-muted">5hours ago</div>
        </div>
        <div class="post-content">
            <p class="card-text mb-auto">Talo nanaman ako kay neyra PUTEK!</p>
        </div>
        <div class="post-actions">
            <div class="like-post">
                <button><img src="/static/like.svg"></button>
            </div>
            <div class="divider"></div>
            <div class="retweet-post">
                <button><img src="/static/retweet.svg"></button>
            </div>
            
        </div>
    </div>
    <div class="user-post">
        <div class="post-header">
            <div class="post-user mb-0">@gianbenta</div>
            <div class="post-date mb-1 text-muted">5hours ago</div>
        </div>
        <div class="post-content">
            <p class="card-text mb-auto">Bryle bakit ang benta mo tanong ko lang huh.</p>
        </div>
        <div class="post-actions">
            <div class="like-post">
                <button><img src="/static/like.svg"></button>
            </div>
            <div class="divider"></div>
            <div class="retweet-post">
                <button><img src="/static/retweet.svg"></button>
            </div>
            
        </div>
    </div>
    
</div>
{% else %}
<div class="center container">
    <img class="mb-4" src="/static/iconblack.png" alt="" width="72" height="72">
    <h1 class="display-4  mb-3 font-weight-normal">Awit</h1>
    <p class="lead my-3">A working inspiration <em>from</em> Twitter</p>
    <hr>
    <p class="lead ">Adaptogen everyday carry af consequat ramps cardigan lomo PBR&B hot chicken helvetica. Truffaut small batch hammock ut shoreditch tacos air plant kogi swag tumblr tbh. Freegan marfa woke forage, eiusmod bitters hot chicken snackwave migas. Health goth ipsum sint, freegan proident next level tattooed. Drinking vinegar taxidermy poutine non 3 wolf moon readymade hammock twee ethical sustainable. Chillwave glossier readymade godard humblebrag freegan in.</p>
    <p class="lead text-muted">Portland esse DIY, yr aute ipsum kogi tattooed culpa street art laborum helvetica iceland normcore biodiesel. Palo santo lorem meggings, poutine meh reprehenderit af meditation est tousled. Brunch normcore velit, ad banh mi 90's kitsch ea viral irure squid iPhone. Locavore jean shorts cardigan coloring book etsy, sunt humblebrag tumblr woke. Hella ullamco labore vice readymade laborum quinoa, yr artisan kitsch flexitarian put a bird on it esse williamsburg duis. La croix magna health goth schlitz waistcoat XOXO et adaptogen exercitation polaroid commodo. Labore woke exercitation keytar salvia.</p>
</div>


{% endif %}
{% endblock %}

